body{
    background-color: rgb(139, 192, 192);
    height: 300px;
    
}

.col{
    background-color: rgb(110, 110, 110);
    border-style: inset;
    margin: 10px;
}

#col1{
    background-color: rgb(0, 255, 157);
    border-style: inset;
    margin: 10px;
    height: 200px;
    text-align: center;
}

.tela-login{ 
    align-items: center;
    background-color: rgb(20, 122, 0);
    margin: auto;
    width:50%;
    height:100%;

}

.mb-3{
    width: 80%;
    text-align: center;
    margin: auto;
    border-style: inset;
    background-color: white;
}



.button {
    background: #76c764;
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  
  .button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: #e66969;
  }